.align-center-custom{
    text-align: center;
}
.search-box {
    width: 240px;
}
.img-home {
    height: 60px;
    width: 80px;
}
.navbar-fixed {
    position: fixed;
}
.rounded-circle {
    border-radius: 50%!important;
    height: 150px;
}
.image-profile {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: 1px solid #eee;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    margin-bottom: 35px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 10px 15px #e1e3ec;
    /*cursor: pointer;*/
}

.image-profile input {
    position: absolute;
    width: 100%;
    height: 130%;
    top: -30px;
    opacity: 0;
    cursor: pointer;
}

.navbar-brand {
    float: left;
    height: 80px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
}

/*.img-profile {*/
    /*width: 100px!important;*/
    /*height: 100px!important;*/
/*}*/
/*.image-profile {*/
    /*position:absolute;width:100%;height:130%;top:-30px;opacity:0;cursor:pointer*/
/*}*/
hr.style-eight {
    height: 10px;
    border: 1px;
    box-shadow: inset 0 9px 9px -3px rgba(11, 99, 184, 0.8);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    width: 20%;
}
body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    /*font-family: "Droid Serif";*/
}

body, table {
    font-size: 1.3em;
    /*horiz-align: center;*/
}

.jumbotron-height{
    height: 20px;
}